<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897285347619-5re89m77qp0ms8mc4u7fbq0auviv9msi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897285347619-5re89m77qp0ms8mc4u7fbq0auviv9msi</string>
	<key>API_KEY</key>
	<string>AIzaSyAaxHZY3El_BIItQzxk4Gn_4IDfadmUCc8</string>
	<key>GCM_SENDER_ID</key>
	<string>897285347619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>be.hogent.student.deletter.damon.iOS-app-gym</string>
	<key>PROJECT_ID</key>
	<string>nomadgym-7276e</string>
	<key>STORAGE_BUCKET</key>
	<string>nomadgym-7276e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897285347619:ios:93ae203ad589e784f91496</string>
</dict>
</plist>